certs/
.idea/
*.iml
config/nginx/conf.d.angular/*
config/nginx/conf.d/*
docker-compose.development.yml

# keep the data/db folder but not the files
data/db/*
# need at least one file in the folder
!data/db/.gitkeep
